
.grunion-modal-wrap * {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}

.grunion-modal {
	background: #fff;
	position: fixed;
	top: 30px;
	left: 30px;
	right: 30px;
	bottom: 30px;
	z-index: 160000;
}

.grunion-modal .submit {
	padding: 10px;
	margin: 0;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background: #eee;
	border-top: 1px solid #ccc;
	text-align: right;
}

.grunion-modal-backdrop {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	min-height: 360px;
	background: #000;
	opacity: 0.7;
	z-index: 159900;
}

.grunion-field-edit {
	border: 1px solid #333;
	border-radious: 3px;
	background: #eee;
	margin: 5px;
}

.grunion-field-edit .options {
	display: none;
}

.grunion-field-edit.grunion-field-checkbox-multiple .options,
.grunion-field-edit.grunion-field-radio .options,
.grunion-field-edit.grunion-field-select .options {
	display: block;
}